/* Grid layout */
.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px auto 60px;

  min-height: 100%;
}

@media (min-width: 768px) {
  .app {
    grid-template-rows: 90px auto 90px;
  }
}

.header,
.footer {
  grid-column: 1 / span 5;
}

.main {
  grid-column: 1 / span 3;
}

.sidebar {
  grid-column: span 2;
}

@media (max-width: 767px) {
  .main,
  .sidebar {
    grid-column: 1 / span 5;
  }
}
