@keyframes ldio-voqxq9pfyv {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ldio-voqxq9pfyv div {
  position: absolute;
  animation: ldio-voqxq9pfyv 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #000;
  transform-origin: 40px 41px;
}

.loadingio-spinner-eclipse-h24jsu8xrce {
  width: 44px;
  height: 44px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}

.ldio-voqxq9pfyv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.44);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-voqxq9pfyv div {
  box-sizing: content-box;
}

.spinner {
  margin: 25px auto 0;
  width: 50px;
}
