.navigation {
  height: 100%;
}

.navigation a {
  text-decoration: none;
  color: var(--color-text);
}

.navigation a:hover {
  color: var(--color-primary);
}

.navigation__items {
  display: flex;
  align-items: center;
  height: 100%;

  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

/* Modifiers */
.navigation--footer {
  margin-left: auto;
}
