:root {
  --color-black: #303030;
  --color-white: #fdfdfd;

  --color-primary: #1b69ce;
  --color-text: #303030;
  --color-line: #f1f1f1;
  --color-error: #e10a0a;

  --gap: 15px;
}

html,
body {
  height: 100%;
  color: var(--color-text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}
